solutions/BuchausleihenVerwaltung/Workflows/WordDocMailBook-3DD8B5D1-B5D7-EE11-904D-000D3AA923D7.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ankr_sharedcommondataserviceforapps_f05cd"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_wordonlinebusiness": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedwordonlinebusiness_132d6"
        },
        "api": {
          "name": "shared_wordonlinebusiness"
        }
      },
      "shared_office365": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "ankr_sharedoffice365_1c614"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "fc36caaa-640c-4762-b0a7-be9cb1ccdecd"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "BuchId",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Eingabe eingeben",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "UserMail",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Eingabe eingeben",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text",
                "text_1"
              ]
            }
          }
        }
      },
      "actions": {
        "Zeile_nach_ID_abrufen": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "7a582891-8dfd-4a87-bf6d-d3840c98be2d"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "crafd_buchs",
              "recordId": "@triggerBody()['text']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Microsoft_Word-Vorlage_auff端llen": {
          "runAfter": {
            "Zeile_nach_ID_abrufen": [
              "Succeeded"
            ]
          },
          "metadata": {
            "01LHO6VGRQ2MDQQQYNI5EZXP24NHSIXOBN": "/Buchbeschreibung.docx",
            "operationMetadataId": "0517ff19-0910-4f90-9baf-d236af3a6a76"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_wordonlinebusiness",
              "operationId": "CreateFileItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_wordonlinebusiness"
            },
            "parameters": {
              "source": "me",
              "drive": "b!n4EoHj9zK0GXU8KDmLECoqDHERUDGxhPqVmM65sTtZ662L4gJzMmTbHtsoAe8gAi",
              "file": "01LHO6VGRQ2MDQQQYNI5EZXP24NHSIXOBN",
              "dynamicFileSchema/1633204125": "@outputs('Zeile_nach_ID_abrufen')?['body/ankr_beschreibung']",
              "dynamicFileSchema/-1647663819": "@outputs('Zeile_nach_ID_abrufen')?['body/crafd_titel']",
              "dynamicFileSchema/-1106881634": "@outputs('Zeile_nach_ID_abrufen')?['body/crafd_autor']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "E-Mail_senden_(V2)": {
          "runAfter": {
            "Microsoft_Word-Vorlage_auff端llen": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6867b942-9468-41ad-abc1-0fb30eb4d91b"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_office365",
              "operationId": "SendEmailV2",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
            },
            "parameters": {
              "emailMessage/To": "@triggerBody()['text_1']",
              "emailMessage/Subject": "Buchbeschreibung f端r '@{outputs('Zeile_nach_ID_abrufen')?['body/crafd_titel']}' von @{outputs('Zeile_nach_ID_abrufen')?['body/crafd_autor']}",
              "emailMessage/Body": "<p>Das Dokument befindet sich in der Anlage.</p>",
              "emailMessage/Attachments": [
                {
                  "Name": "Beschreibung_@{outputs('Zeile_nach_ID_abrufen')?['body/crafd_titel']}_@{outputs('Zeile_nach_ID_abrufen')?['body/crafd_autor']}.docx",
                  "ContentBytes": "@body('Microsoft_Word-Vorlage_auff端llen')"
                }
              ],
              "emailMessage/Importance": "Normal"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}